doctype html
block vars
	-
		manifest = manifest || {}
		var title = manifest.name
		var description = ''
		assetPath = assetPath ? assetPath.replace(/\/+$/, '') : ''

include ../mixins/capture
include ../mixins/shape

html(lang=manifest.lang)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title=title

		link(rel='manifest', href=`${assetPath}/data/manifest.json`)
		meta(name='theme-color', content=manifest.theme_color)

		meta(name='description', content=description)

		link(rel='icon', type='image/png', href=`${assetPath}/images/icons/36x36.png`, sizes='36x36')

		link(rel='stylesheet', href=`${assetPath}/styles/${buildstamp}index.css`, media='screen')
		link(rel='stylesheet', href=`${assetPath}/styles/${buildstamp}print.css`, media='print')

		// Queue of JS components to initialize
		script.
			initComponents = [
				{ name: 'Shapes', data: { url: '#{assetPath}/sprites/shapes.svg' } }
			]

		//- Application init
		script(src=`https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch&flags=gated`, defer)
		script(src=`${assetPath}/scripts/${buildstamp}index.js`, defer)

	body

		block header
		block content
		block footer
